{% extends "base.html" %}
{% block content %}
<div class="content" style="height: 600px;display: flex; justify-content: center;align-items: center;">
  <div class="ps-home-contact__form" style="width: 20%">
    <header style="margin-bottom: 40px;">
        <h3 style="text-align: center;">LOG IN</h3>
    </header>
    <footer>
        <form action="{% url 'login' %}" method="post" id="login-form">
          {% csrf_token %}
            <div class="form-group" style="margin-bottom: 30px;">
                <label>Username<span>*</span></label>
                <input class="form-control" type="text" name="username" id="username1">
                <span class="alert"></span>
            </div>
            <div class="form-group" style="margin-bottom: 50px;">
                <label>Password<span>*</span></label>
                <input class="form-control" type="password" name="password" id="pw1">
                <span class="alert"></span>
            </div>
            <div class="form-group text-center">
                <button class="ps-btn">LOG IN<i class="fa fa-angle-right"></i></button>
            </div>
            <div style="text-align: center;"><a href="#" style="margin-top: 20px;">Create an a account</a></div>
            
        </form>
        <script type="text/javascript">
            $(document).on('submit','#login-form',function(e){
                e.preventDefault()
                $.ajax({
                    type:'POST',
                    url:"{% url 'validate_login' %}",
                    data : {username : $('#username1').val(),
                            password : $('#pw1').val(),
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                    success: function(data){
                        if (data.status == 'fail'){
                            $('.alert').text('username or password not correct');
                            setTimeout(function(){
                                $('.alert').text('');
                            },500);
                            
                        }
                        else{
                            window.location="{% url 'home' %}"
                        };
                    }

                });

            });
        </script>
    </footer>
</div>

</div>



{% endblock content %}
